<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign In</title>
</head>

<body>
    <h1>Sign in</h1>
    <div class="signin-container">
        <div class="twoEl-Cont">
            <form class="auth-form" action="/auth/sign-in" method="POST">
                <div class="form-child">
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username" required />
                </div>
                <div class="form-child">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required />
                </div>
                <div class="form-button">
                    <button type="submit">Sign in</button>
                </div>
            </form>
        </div>
        <div class="twoEl-Cont">
            <img src="https://www.bostonunitedtrackclub.com/wp-content/uploads/2024/02/562A2458.jpg" class="image">
        </div>
    </div>
</body>

</html>