<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Mai Teams homepage</title>
</head>

<body class="index-body">
    <div class="index-container">
        <div class="text-container">
            <% if (user) { %> 
                <h1 class="welcome">Welcome back to Mai Teams, <%= user.username %>!</h1>
                <div class="auth-links">
                    <a class="" herf="/auth/sign-out">Sign out</a>
                </div>
            <% } else { %>
                <h1 class="welcome">Welcome to the Mai Teams app!</h1>
                <div class="auth-links">
                    <a class="link" href="/auth/sign-up">Sign up</a>
                    <a class="link" href="/auth/sign-in">Sign in</a>
                </div>
            <% } %>
            <div class="index-photo-container">
                <img src="https://www.bostonunitedtrackclub.com/wp-content/uploads/2024/02/562A2433-1.jpg" class="image">
            </div>
        </div>
    </div>

</body>
</html>