<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Mai Teams homepage</title>
</head>

<body>
    <div class="index-container">
        <div class="text-container">
            <img src="https://www.bostonunitedtrackclub.com/wp-content/uploads/2024/02/562A2433-1.jpg" class="image">
            <% if (user) { %> 
                <h1 class="welcome">Welcome back to Mai Teams, <%= user.username %>!</h1>
                <div class="auth-links">
                    <div class="link-container">
                        <a class="link" herf="/auth/sign-out">SIGN OUT</a>
                    </div>
                </div>
            <% } else { %>
                <h1 class="welcome">Welcome to the Mai Teams app!</h1>
                <div class="auth-links">
                    <div class="link-container">
                        <a class="link" href="/auth/sign-up">SIGN UP</a>
                    </div>
                    <div class="link-container">
                        <a class="link" href="/auth/sign-in">SIGN IN</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>